body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}

.subject {
    cursor: pointer;
    height: 21%;
    margin: 2.5%;
    width: 19%;
}

.subject:hover {
    outline: 2px solid #ccc;
}

.subject.active {
    outline: 6px solid red;
}

button {
    background: #607D8B;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    float: right;
    padding: 10px 40px;
    font-size: 20px;
    font-family: Georgia;
}