@for(var i = 0; i < 12; i++)
{
    <img class="subject" id="image_@i" alt="" />
}

<div style="display: none;" id="nodata">
    <h2>You fell out of line :(</h2>
    <h2>please refresh to get back on the ship</h2>
</div>

<div>
    <span id="numtotal">xx</span>total images remaining
    <span id="numphoto">xx</span> total photos collected
    <span id="numnonphoto">xx</span> total non photos discarded
    <a class="button" href="#" id="next">Mark Selected Photographic</a>
    <a class="button" href="/">Reset</a>
</div>

