@for(var i = 0; i < 12; i++)
{
    <img class="subject" id="image_@i" alt="" />
}

<div style="display: none;" id="nodata">
    <h2>You fell out of line :(</h2>
    <h2>please refresh to get back on the ship</h2>
</div>

<div>
    <button id="next">Next</button>
</div>

