<p style="margin: 10px 0 0 2%; font-size: 14px;">Select the photographs. <a class="mobile-only" href="/home/about/">Full instructions</a> <a href="/home/leaderboard/">Leaderboard</a></p>
@for(var i = 0; i < 12; i++)
{
    <img class="subject" id="image_@i" alt="" />
}

<div style="display: none;" id="nodata">
    <h2>You fell out of line :(</h2>
    <h2>please refresh to get back on the ship</h2>
</div>

<div style="display: none;" id="loader">
    <img alt="" src="/loader.gif" />
</div>

<div class="bottom">
    <div>
        <h1>Photo Filters</h1>
        <a href="/home/about/">Full instructions</a>
        <p>Help us create a data set of photographs to improve Cognitive Services' computer vision algorithms to make them work better with Office.</p>
        <p>For each screen of images, select the photographic images. <b>Press "Mark these as photos" to submit your selection and move on to the next set of photos.</b></p>
        <p>Don't spend too much time on one set of photos. If you're not sure if something is a photo, don't select it.</p>

        <b>Select:</b><ul>
        <li>Photos with no text</li>
        <li>Photos of objects with the background removed</li>
        <li>Photos with cropped or feathered edges</li>
        <li>Photos with minimal overlayed text (i.e. watermarks)</li>
    </ul>
    <b>Do not select:</b><ul>
    <li>Photos with excessive overlayed text </li>
    <li>Screenshots</li>
    <li>Clipart</li>
    <li>Drawings</li>
    <li>Logos</li>
    <li>3D models</li>
    <li>Cartoons</li>
    <li>Anything indiscernable</li>
</ul>
<a class="button next" href="#">No photos</a>
<a class="button secondary" href="/">Refresh</a>
</div>
</div>

<div class="mobile-buttons">
    <a class="button next" href="#">No photos</a>
    <a class="button secondary" href="/">Refresh</a>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js"></script>